#section1 {
    width: 100%;
    padding: 10% 5%;
    text-align: center;
    font-family: 'Exo 2', serif;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    min-height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url(imgs/herobackground.jpeg);
}

.display-1 {
    margin-top: 7vw;
    margin-bottom: 7vw;
    text-align: center;
    font-family: 'Exo 2', serif;
  }

  
  
.navbar-nav {
    margin-left: auto;
  }
.nav-link {
    color: white;
    font-family: 'Exo 2', serif;
  }
.nav-link:hover {
    color: white;
  }
.icon-white {
    color: white;
  }
  /* Used to change color of toggler - change rgba element of svg image path */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
  }


  #aboutme-section {
    font-family: 'Reddit Mono';
    letter-spacing: 10px;
  }
 
  .img-fluid {
    max-width: 50%;
    height: auto;
  }