html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

nav {
  background-color: #001847;
}

section {
  /* margin-top: 10vw;
  margin-bottom: 10vw; */
  scroll-margin-top: 5rem;
  margin-top: 43vh;
}

body {
  background-color: #3c649f;
  color: white;
}


#hero-section {
    width: 100%;
    height: 100vh;
    padding: 100px 100px;
    text-align: center;
    font-family: 'Exo 2', serif;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url(imgs/herobackground.jpeg);
}

#hero-section-small {
    width: 100%;
    height: 100vh;
    padding: 150px 100px;
    text-align: center;
    font-family: 'Exo 2', serif;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url(imgs/herobackground.jpeg);
}


/* #aboutme-section,
#aboutme-section-small > p{
    font-family: 'Reddit Mono';
    letter-spacing: 10px;

    margin-top: 10vw; */
    /* scroll-margin-top: 10vw !important; */
/* } */

/* #aboutme-section-small {
  margin-top: 100px !important;
} */

  /* #aboutme-section-small .carousel-inner > .carousel-item {
    max-width: 50%;
    max-height: 100%;
    border: 5px solid white;
    width: 75%;
  } */

#aboutme-title {
    margin-bottom: 35px;
}

#aboutme-txt,
#aboutme-txt-small {
  letter-spacing: 0;
  line-height: 40px;
  font-size: 25px;
  font-family: 'Reddit Mono';
}
  /* #project-section {
     min-height: 100vh !important; 
  } */

#contact-icon {
    color: white;
    font-size: 70px;
    margin-bottom: 70px;
}
  
#contact-icon:hover {
    color: #001847;
}

#footer-section {
  background-color: #14418a;
  color: white;
  text-align: center;
  vertical-align: center;
  bottom: 0;
  margin-bottom: 0;
  padding: 15px; 
  width: 100%;
  min-height: 15% !important;
}

.display-1 {
    margin-top: 7vw;
    margin-bottom: 7vw;
    text-align: center;
    font-family: 'Exo 2', serif;
}

.display-2 {
  margin-bottom: 7vw;
  text-align: center;
  font-family: 'Exo 2', serif;
}

.nav-link {
    color: white;
    font-family: 'Exo 2', serif;
    margin: auto;
}

.navbar-toggler {
  margin-left: auto;
}

.project-card:hover {
  color: black;
  background-color: white;
}
.icon-white {
    color: white;
}
  /* Used to change color of toggler - change rgba element of svg image path */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

.card {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 3px;
}
  
.card-title {
    text-align: center;
    font-family: 'IBM Plex Mono', sans-serif;
}
  
.card-img-top {
    height: 150px; 
    width: 150px; 
    align-self: center;
}
  
.card-body {
    font-size: 20px;
}

.project-card {
  border-radius: 100px;
}
  
.carousel-inner > .carousel-item > img {
    max-width: 50%;
    max-height: 100%;
    border: 5px solid white;
    border-radius: 50px;
}

.skills {
    margin: 45px 0;
}

.scrolled {
  opacity: 0;
  transform: translateY(20px);
  animation: scroll-in 3s both; 
}

@keyframes scroll-in {
  0%{
    opacity: 0;
    transform: translateY(20px)
  }
  100%{
    opacity: 1;
    transform: translateY(0)
  }
}

.img-hero {
  max-width: 65%;
  height: auto;
  border: white solid 5px;
  border-radius: 100px;
  margin-top: 160px;
}

.hero-title {
  margin-top: 150px;
  margin-bottom: 3vw;
  text-align: center;
  font-family: 'Exo 2', serif;
  font-size: calc(1.625rem + 4.5vw);
}

.hero-title-small {
  margin-bottom: 3vw;
  text-align: center;
  font-family: 'Exo 2', serif;
  font-size: calc(1.625rem + 4.5vw);
}


.img-hero-small {
  max-width: 85% !important;
  height: auto;
  border: white solid 5px;
  border-radius: 100px;
  margin-top: 50px;
}

.floated {
  float: left;
}

.carousel-inner {
  margin-top: 200px;
}

.nav-link:hover {
  background-color: white;
  color: black;
}

#contact-section {
  margin-top: 200px;
}

