html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

#hero-section,
#hero-section-small {
    width: 100%;
    padding: 10% 5%;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Exo 2', serif;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url(imgs/herobackground.jpeg);
}

.display-1 {
    margin-top: 7vw;
    margin-bottom: 7vw;
    text-align: center;
    font-family: 'Exo 2', serif;
  }
  
.navbar-nav {
    margin-left: auto;
  }
.nav-link {
    color: white;
    font-family: 'Exo 2', serif;
  }
.nav-link:hover {
    color: white;
  }
.icon-white {
    color: white;
  }
  /* Used to change color of toggler - change rgba element of svg image path */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
  }


#aboutme-section,
#aboutme-section-small {
    font-family: 'Reddit Mono';
    letter-spacing: 10px;
  }

.img-fluid {
    max-width: 50%;
    height: auto;
  }

.card {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 3px;
  }
  
.card-title {
    text-align: center;
    font-family: 'IBM Plex Mono', sans-serif;
  }
  
.card-img-top {
    height: 150px; 
    width: 150px; 
    align-self: center;
  }
  
.card-body {
    font-size: 20px;
  }
  

section {
    min-height: 100vh;
    margin-top: 10vw;
    margin-bottom: 10vw;
    scroll-margin-top: 3rem;
  }

body {
    background-color: #3c649f;
    color: white;
  }
  
  .carousel-inner > .carousel-item > img {
    max-width: 50%;
    max-height: 100%;
    border: 5px solid white;
  }